.score{
    font-family: 华文楷体;
    font-size: 50px;
    width: auto;
    height: 30px;
    text-align: center;
    margin-top: 20%;
    color: #bb2d3b;
    font-weight: bold;

}
body{
    margin: 0;
}
#score{
    color: #badbcc;
}